workflows/workflow.json
[{"createdAt":"2024-06-19T20:21:02.938Z","updatedAt":"2024-06-20T08:52:23.000Z","id":"t7oOzrI2kJBPUUJR","name":"Strapi Blog","active":false,"nodes":[{"parameters":{"model":"mistralai/Mixtral-8x7B-Instruct-v0.1","options":{}},"id":"1645da71-a62f-43cd-aeb3-3525c163dcf1","name":"Hugging Face Inference Model","type":"@n8n/n8n-nodes-langchain.lmOpenHuggingFaceInference","typeVersion":1,"position":[520,1380],"credentials":{"huggingFaceApi":{"id":"FWaT7sDg4XRVLXzv","name":"HuggingFaceApi account"}}},{"parameters":{"options":{}},"id":"1554c52c-e7a2-4eec-a8c0-b237eb74e591","name":"Item List Output Parser","type":"@n8n/n8n-nodes-langchain.outputParserItemList","typeVersion":1,"position":[60,760]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b5796332-731f-40fd-8d63-b9a53c67a10b","leftValue":"= {{ $json.response.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"a8fc3e3d-2711-4995-a668-fa12a81fa2c1","name":"Check topics","type":"n8n-nodes-base.if","typeVersion":2,"position":[160,580]},{"parameters":{"options":{}},"id":"676ab592-a4bb-462e-89e6-a9b673faa4bb","name":"Loop Over topics","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[780,540]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"b5796332-731f-40fd-8d63-b9a53c67a10b","leftValue":"={{ $json.content.name }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b94601e4-3ed6-42dc-9042-563cb7b5c247","leftValue":"={{ $json.content.Bio }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"0ed3255b-559b-4efd-b571-7def53b91f45","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[200,900],"alwaysOutputData":false,"notesInFlow":false,"executeOnce":false},{"parameters":{"authentication":"token","operation":"create","contentType":"authors","columns":"Name,Bio"},"id":"96f67893-7614-4865-990a-4cf91ff3145c","name":"Create Author","type":"n8n-nodes-base.strapi","typeVersion":1,"position":[760,1100],"retryOnFail":true,"credentials":{"strapiTokenApi":{"id":"MAERC0iIiR43kQxF","name":"Strapi account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"875edc3c-e410-415b-8b09-3e7e5b75a84e","name":"=Title","value":"={{$('Generate topics').item.json.response.text.substring(4) }}","type":"string"}]},"options":{}},"id":"7175980b-0ce4-4182-b181-97191fed3bbd","name":"Edit topics","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[460,460],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"88616296-ea05-4d40-ab3c-88890bcedc6b","name":"Title","value":"={{ $('Edit topics').item.json.Title }}","type":"string"},{"id":"d3125aa2-d006-4d14-b2ab-b8b5ade93789","name":"Content","value":"={{ $('write blog content').item.json.text }}","type":"string"},{"id":"f27f378c-8445-43db-a925-506bc0feea7e","name":"Author","value":"={{ $('Get Authors').item.json.id }}","type":"number"}]},"options":{}},"id":"a94b9040-de59-40d6-9172-05669499789e","name":"Mapping datas","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1040,520],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"1838548d-f2f7-4863-a91a-a83b1a566663","name":"Name","value":"={{ $json.content.name }}","type":"string"},{"id":"13db9e54-f413-43c2-b553-e2f1788642bb","name":"Bio","value":"={{ $json.content.Bio }}","type":"string"}]},"options":{}},"id":"d84ca86e-642a-4cae-b85e-df8242440d12","name":"Mapping datas1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[460,880],"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"bcab42c5-2eef-4b8c-9769-484501a1fac7","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"30a267ec-2500-4726-a387-7170dbe1f6cc","name":"Check Authors","type":"n8n-nodes-base.if","typeVersion":2,"position":[-440,720],"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"1838548d-f2f7-4863-a91a-a83b1a566663","name":"Message","value":"=Creating Author node","type":"string"},{"id":"13db9e54-f413-43c2-b553-e2f1788642bb","name":"Error","value":"={{ $json.error }}","type":"string"}]},"options":{}},"id":"22330a52-91c4-48e9-a7c9-264720ac75ef","name":"Edit error log","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1160,1120],"onError":"continueRegularOutput"},{"parameters":{"authentication":"token","operation":"getAll","contentType":"authors","options":{}},"id":"f60ce799-30e2-485f-b90b-7ea9f9cf0307","name":"Get Authors","type":"n8n-nodes-base.strapi","typeVersion":1,"position":[-660,720],"alwaysOutputData":true,"credentials":{"strapiTokenApi":{"id":"MAERC0iIiR43kQxF","name":"Strapi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1838548d-f2f7-4863-a91a-a83b1a566663","name":"Message","value":"=Create Content Node : the topic \"{{ $('Edit topics').item.json.Title }}\" already exists.","type":"string"},{"id":"13db9e54-f413-43c2-b553-e2f1788642bb","name":"Error","value":"={{ $json.error }}","type":"string"}]},"options":{}},"id":"ff07d52b-6c0d-4e89-8c03-0b1636b1a7df","name":"Edit error log1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[1600,780],"onError":"continueRegularOutput"},{"parameters":{"authentication":"token","operation":"create","contentType":"blogs","columns":"Title,Content,Author"},"id":"3f7df8c4-8c45-4607-8807-22eb61cb7de0","name":"Create content","type":"n8n-nodes-base.strapi","typeVersion":1,"position":[1320,520],"credentials":{"strapiTokenApi":{"id":"MAERC0iIiR43kQxF","name":"Strapi account"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"1838548d-f2f7-4863-a91a-a83b1a566663","name":"Message","value":"=Check the Basic LLM chain or the Model","type":"string"},{"id":"13db9e54-f413-43c2-b553-e2f1788642bb","name":"Error","value":"=no results from the Basic LLM chain or the Model","type":"string"}]},"options":{}},"id":"1f01318c-241a-47b5-85ec-a54121136bdd","name":"Edit error log2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[460,680],"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"Generate 5 blog post topics about the latest trends in technology.\n","hasOutputParser":true},"id":"364b9b58-ebbb-4604-b52b-6393a080850b","name":"Generate topics","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-220,580],"onError":"continueRegularOutput"},{"parameters":{"respondWith":"redirect","redirectURL":"http://localhost:1337/api/blogs?populate=*","options":{}},"id":"60679796-7a9c-482e-8630-261dbcc089dc","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2240,680]},{"parameters":{"authentication":"token","operation":"create","contentType":"logs","columns":"Message,Error"},"id":"40dedfc4-00b1-4243-9189-67e4ae08e4d5","name":"Create logs","type":"n8n-nodes-base.strapi","typeVersion":1,"position":[1820,1100],"alwaysOutputData":false,"credentials":{"strapiTokenApi":{"id":"MAERC0iIiR43kQxF","name":"Strapi account"}}},{"parameters":{"authentication":"token","operation":"getAll","contentType":"blogs","returnAll":true,"options":{}},"id":"705b1f01-28c8-45ee-bcb5-2c412d1ae73e","name":"Strapi","type":"n8n-nodes-base.strapi","typeVersion":1,"position":[1980,740],"executeOnce":true,"credentials":{"strapiTokenApi":{"id":"MAERC0iIiR43kQxF","name":"Strapi account"}}},{"parameters":{"path":"blog","responseMode":"responseNode","options":{}},"id":"c1271274-40f4-4096-b81f-94312d964db2","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1000,720],"webhookId":"1b3ea054-1fbc-4534-8b47-2046c85d2ab4"},{"parameters":{"assignments":{"assignments":[{"id":"2ba3b805-e274-480e-acb8-3487a7f1967c","name":"content","value":"={{ $json.text }}","type":"object"}]},"options":{}},"id":"8d86f039-fc82-422c-88cc-0ab0fe64d424","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[60,1060]},{"parameters":{"promptType":"define","text":"Generate a profile for a tech blog author including name, bio.in this format '{\"name\":\" \",\"Bio\":\" \"}'","hasOutputParser":true},"id":"88313a91-9d2f-4d97-83c9-1e62000d98ab","name":"Generate Author","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-260,940],"retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"promptType":"define","text":"=Write a detailed blog post about {{ $json.Title }}.","hasOutputParser":true},"id":"29ab856c-3992-4904-a10c-95d3c198f9e7","name":"write blog content","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[1120,720],"onError":"continueRegularOutput"}],"connections":{"Hugging Face Inference Model":{"ai_languageModel":[[{"node":"Generate topics","type":"ai_languageModel","index":0},{"node":"write blog content","type":"ai_languageModel","index":0},{"node":"Generate Author","type":"ai_languageModel","index":0}]]},"Item List Output Parser":{"ai_outputParser":[[{"node":"Generate topics","type":"ai_outputParser","index":0}]]},"Check topics":{"main":[[{"node":"Edit topics","type":"main","index":0}],[{"node":"Edit error log2","type":"main","index":0}]]},"Loop Over topics":{"main":[[{"node":"Mapping datas","type":"main","index":0}],[{"node":"write blog content","type":"main","index":0}]]},"If":{"main":[[{"node":"Mapping datas1","type":"main","index":0}],[{"node":"Edit error log2","type":"main","index":0}]]},"Create Author":{"main":[[{"node":"Get Authors","type":"main","index":0}],[{"node":"Edit error log","type":"main","index":0}]]},"Edit topics":{"main":[[{"node":"Loop Over topics","type":"main","index":0}]]},"Mapping datas":{"main":[[{"node":"Create content","type":"main","index":0}]]},"Mapping datas1":{"main":[[{"node":"Create Author","type":"main","index":0}]]},"Check Authors":{"main":[[{"node":"Generate topics","type":"main","index":0}],[{"node":"Generate Author","type":"main","index":0}]]},"Edit error log":{"main":[[{"node":"Create logs","type":"main","index":0}]]},"Get Authors":{"main":[[{"node":"Check Authors","type":"main","index":0}]]},"Edit error log1":{"main":[[{"node":"Create logs","type":"main","index":0}]]},"Create content":{"main":[[{"node":"Strapi","type":"main","index":0}],[{"node":"Edit error log1","type":"main","index":0}]]},"Edit error log2":{"main":[[{"node":"Create logs","type":"main","index":0}]]},"Generate topics":{"main":[[{"node":"Check topics","type":"main","index":0}]]},"Create logs":{"main":[[{"node":"Strapi","type":"main","index":0}]]},"Strapi":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"If","type":"main","index":0}]]},"Generate Author":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"write blog content":{"main":[[{"node":"Loop Over topics","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Authors","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff859484-dc49-41a5-bedc-91ace3ef3e62","triggerCount":0,"tags":[]}]